---
import Time from "@/icons/Time.astro";
import { type Song } from "@/lib/data"; //Importa solo el tipo Song desde el archivo data.js
//Esto no trae datos, solo la definición del tipo en TypeScript (por ejemplo { id: string, title: string, artist: string, duration: number }).

//Define una interfaz para las props del componente
interface Props {
  songs: Song[]; //songs es un array de objetos Song
}

const { songs } = Astro.props; //Aqui el componente recibe las props desde donde fue usado
//Se hace destructuring para extraer directamente songs de Astro.props
//Ahora dentro del componente podrás iterar sobre songs y renderizarlas
---


<table class="table-auto text-left min-w-full divide-y divide-gray-500/20">
  <thead class="">
    <tr class="text-zinc-400 text-sm">
      <th class="px-4 py-2 font-light">#</th>
      <th class="px-4 py-2 font-light">Titulo</th>
      <th class="px-4 py-2 font-light">Album</th>
      <th class="px-4 py-2 font-light"><Time /></th>
    </tr>
  </thead>

  <tbody>
    <tr class="h-[16px]"></tr>
    {
      songs.map((song, index) => (
        <tr class="text-gray-300 text-sm font-light hover:bg-white/10 overflow-hidden transition duration-300">
          <td class="px-4 py-2 rounded-tl-lg rounded-bl-lg w-5">{index + 1}</td> {/* Redondeamos los bordes izquierdos, tanto top como bottom de cada celda */}
          <td class="px-4 py-2 flex gap-3">
            <picture class="">
              <img
                src={song.image}
                alt={song.title}
                class="w-11 h-11"
              />
            </picture>
            <div class="flex flex-col">
              <h3 class="text-white text-base font-normal">{song.title}</h3>
              <span>{song.artists.join(", ")}</span>
            </div>
          </td>
          <td class="px-4 py-2">{song.album}</td>
          <td class="px-4 py-2 rounded-tr-lg rounded-br-lg">{song.duration}</td> {/* Redondeamos los bordes derechos tanto arriba como abajo */}
        </tr>
      ))
    }
  </tbody>
</table>
